<!DOCTYPE html>
<html lang="en-US">
    <head>
        <meta charset="UTF-8">
        <title><%= title %></title>
        <link rel="stylesheet" href="/css/styles.css">
    </head>

    <body>

        <% if (errors && errors.array) { %>
            <ul>
                <% errors.array().forEach(error => { %>
                    <li><%= error.msg %></li>
                <% }) %>
            </ul>
        <% } %>

        <h1><%= title %></h1>

        <!-- Mensajes flash -->
        <%- messages() %>
        <form id="loginForm" action="/account/login" method="post">
    
            <label for="email">Email:</label>
            <input 
            type="email" 
            name="account_email" 
            id="email" 
            required
            >

            <label for="password">Password:</label>
            <input 
            type="password" 
            name="account_password" 
            id="password" 
            required
            >
            <button type="submit">Login</button>

        </form>
         <!-- Link a registro -->
        <p>
            Don't have an account?
            <a href="/account/register">Register here</a>
        </p>
            
    </body>
</html>